* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #0285ad;
}

.App {
  width: 70%;
  margin: 0px auto;
}
.App-header {
  width: 40%;
  margin: 0px auto;
}
.aligncenter {
  text-align: center;
}

.color-white {
  color: #fff;
}